<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.whu">

    <application>
        <provider
            android:name="org.whu.sqlcipher.WhuContentProvider"
            android:authorities="org.whu.testsuite.provider" />
        <provider
            android:name="org.whu.sqlcipher.WhuContentProvider2"
            android:authorities="org.whu.testsuite.provider2"
            android:process=":provider" />
    </application>
</manifest>
